Questions to ask:
* most popular month
* most popular day
* most popular day of week (M,T,W,etc)

In [1]:
# Special matplotlib import for Jupyter
%matplotlib inline

In [3]:
# Built-in python libraries
import sys
import os
from urllib.request import urlretrieve

# 3rd-party libraries
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Import and download the births data.

In [6]:
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/births/US_births_2000-2014_SSA.csv"
urlretrieve(url, "US_births_2000-2014_SSA.csv")
print("Downloaded US_births_2000-2014_SSA.csv")

Downloaded US_births_2000-2014_SSA.csv

In [7]:
births_data = pd.read_csv("US_births_2000-2014_SSA.csv")
births_data.head()

   year  month  date_of_month  day_of_week  births
0  2000      1              1            6    9083
1  2000      1              2            7    8006
2  2000      1              3            1   11363
3  2000      1              4            2   13032
4  2000      1              5            3   12558

In [11]:
births_dow = births_data.groupby(['day_of_week'])['births'].sum()
births_dow

day_of_week
1     9316001
2    10274874
3    10109130
4    10045436
5     9850199
6     6704495
7     5886889
Name: births, dtype: int64

In [12]:
births_year = births_data.groupby(['year'])['births'].sum()
births_year

year
2000    4149598
2001    4110963
2002    4099313
2003    4163060
2004    4186863
2005    4211941
2006    4335154
2007    4380784
2008    4310737
2009    4190991
2010    4055975
2011    4006908
2012    4000868
2013    3973337
2014    4010532
Name: births, dtype: int64

In [13]:
births_month = births_data.groupby(['month'])['births'].sum()
births_month

month
1     5072588
2     4725693
3     5172961
4     4960750
5     5195445
6     5163360
7     5450418
8     5540170
9     5399592
10    5302865
11    5008750
12    5194432
Name: births, dtype: int64