# Popularity of Baby Names Over Time

Data Source: https://www.ssa.gov/oact/babynames/limits.html

Read the files into a string

In [6]:
pre = open("./data/names_yob1880.txt","r")
post = open("./data/names_yob2015.txt","r")

pre_strng = pre.read()
post_strng = post.read()

Convert the string to a list

In [10]:
pre_list = pre_strng.split('\n')
post_list = post_strng.split('\n')

Convert list of strings to list of lists

In [18]:
pre_nested_list = []
for row in pre_list:
    comma_list = row.split(',')
    pre_nested_list.append(comma_list)
    
post_nested_list = []
for row in post_list:
    comma_list = row.split(',')
    post_nested_list.append(comma_list)

print("1880: ", pre_nested_list[0:5])
print("2015: ", post_nested_list[0:5])

1880:  [['Mary', 'F', '7065'], ['Anna', 'F', '2604'], ['Emma', 'F', '2003'], ['Elizabeth', 'F', '1939'], ['Minnie', 'F', '1746']]
2015:  [['Emma', 'F', '20355'], ['Olivia', 'F', '19553'], ['Sophia', 'F', '17327'], ['Ava', 'F', '16286'], ['Isabella', 'F', '15504']]

Convert numerical values

In [100]:
pre_numerical_list = []
for row in pre_nested_list[0:-1]:
    aname = row[0]
    asex = row[1]
    anum = int(row[2])
    new_list = [aname, asex, anum]
    pre_numerical_list.append(new_list)
    
post_numerical_list = []
for row in post_nested_list[0:-1]:
    bname = row[0]
    bsex = row[1]
    bnum = int(row[2])
    new_list = [bname, bsex, bnum]
    post_numerical_list.append(new_list)
    
print(pre_numerical_list[0:5])
print(post_numerical_list[0:5])

[['Mary', 'F', 7065], ['Anna', 'F', 2604], ['Emma', 'F', 2003], ['Elizabeth', 'F', 1939], ['Minnie', 'F', 1746]]
[['Emma', 'F', 20355], ['Olivia', 'F', 19553], ['Sophia', 'F', 17327], ['Ava', 'F', 16286], ['Isabella', 'F', 15504]]

In [120]:
pre_thousand_or_greater = []
for list in pre_numerical_list:
    if list[2] >= 5000:
        pre_thousand_or_greater.append(list)
        
print(pre_thousand_or_greater)

post_thousand_or_greater = []
for list in post_numerical_list:
    if list[2] >= 17000:
        post_thousand_or_greater.append(list)
        
print(post_thousand_or_greater)

[['Mary', 'F', 7065], ['John', 'M', 9655], ['William', 'M', 9531], ['James', 'M', 5927], ['Charles', 'M', 5348], ['George', 'M', 5126]]
[['Emma', 'F', 20355], ['Olivia', 'F', 19553], ['Sophia', 'F', 17327], ['Noah', 'M', 19511], ['Liam', 'M', 18281]]

Questions to ask: is there more variety now? (m/f/both?)

In [123]:
pre_count = 0
post_count = 0

for item in pre_numerical_list:
    pre_count += 1
    
for item in post_numerical_list:
    post_count += 1

print(pre_count)
print(post_count)

2000
32952